@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

body {
  background-color: #253898;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
  margin: 20px;
}

.box {
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  font-size: 35px;
  color: #ffffff;
}

#h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 2.3rem;
  color: black;
  margin: 30px;
  margin-bottom: 10px;
  margin-top: 35px;
}

#h2 {
  font-family: "Bebas Neue", cursive;
  font-size: 2rem;
  color: black;
  margin: 10px;
  margin-bottom: 25px;
}

#box {
  position: relative;
  height: fit-content;
  width: 100%;
  background-color: #db0b5f;
  border: none;
  font-size: 28px;
  color: #ffffff;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.2s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

#box:after {
  content: "";
  background: #fdfdfd;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.4s;
}

#box:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

#container {
  -webkit-box-shadow: 0px 0px 300px -99px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 300px -99px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 300px -99px rgba(0, 0, 0, 0.75);

  border-radius: 15px;
  background-color: #ff9347;
  display: flex;
  flex-direction: column;
}
